@import url('http://fonts.cdnfonts.com/css/games');


body {
    background-color: #A1B57D;
    /*  
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(160deg, rgb(0, 0, 0), rgb(0, 217, 255));
    color: #fff;
    min-height: 100vh;
    */
}
.header-container{
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.author-pics{
    height: 250px;
    width: 250px;
    border-radius: 200px;
    border: 2px solid;
}
.how-to-play{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 0% 5% 0% 20%;
}

.how-to-play h3{
    font-family: 'Games', sans-serif;
    font-size: 250%;
}


.line-authors{
     /* 
    margin-top: "200px";
    */
    margin-top: 30px;
}

.play-button{
    margin-top:50px;
    margin-bottom:70px;
    width: 25%;
    align-items: center;
    background-color: #B33030;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.play-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.play-button:hover:after {
  transform: translate(0, 0);
}

.play-button:active {
  background-color: rgb(87, 24, 24);
  outline: 0;
}

.play-button:hover {
  outline: 0;
  background-color: rgb(87, 24, 24);
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.header-wrapper{
    width:100%;
    height: 50px;
    background-color: #B33030;
}
.header-wrapper h2{
    text-align: center;
    padding-top: 5px;
}
.left-align{
    text-align: left;
}